In [66]:
import requests
import json
import datetime
from pytz import timezone
import time
import yaml

In [68]:
import sys

sys.path.insert(0,'backtesting/')
sys.path.insert(0,'model/')
sys.path.insert(0,'kis_api/')

In [69]:
import backtest
import backtesting
import backtestingrm
import oandaenv
import oandatb
import tbbacktesterrm
import tradingbot

In [5]:
with open('kis_devlp.yaml', encoding='UTF-8') as f:
    _cfg = yaml.load(f, Loader=yaml.FullLoader)
APP_KEY = _cfg['paper_app']
APP_SECRET = _cfg['paper_sec']
ACCESS_TOKEN = ""
CANO = _cfg['my_paper_stock']
ACNT_PRDT_CD = _cfg['my_prod']
DISCORD_WEBHOOK_URL = _cfg['DISCORD_WEBHOOK_URL']
URL_BASE = _cfg['vps']

In [6]:
def send_message(msg):
    """디스코드 메세지 전송"""
    now = datetime.datetime.now()
    message = {"content": f"[{now.strftime('%Y-%m-%d %H:%M:%S')}] {str(msg)}"}
    requests.post(DISCORD_WEBHOOK_URL, data=message)
    print(message)

In [38]:
def get_access_token():
    """토큰 발급"""
    headers = {"content-type":"application/json"}
    body = {"grant_type":"client_credentials",
    "appkey":APP_KEY, 
    "appsecret":APP_SECRET}
    PATH = "oauth2/tokenP"
    URL = f"{URL_BASE}/{PATH}"
    res = requests.post(URL, headers=headers, data=json.dumps(body))
    ACCESS_TOKEN = res.json()["access_token"]
    return ACCESS_TOKEN

In [44]:
get_access_token()

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjE5OTRlODkxLWI5NWUtNDdkMi05NTRmLWY2YTU2NjI1MmQ0YSIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTczOTUxOTI3NCwiaWF0IjoxNzM5NDMyODc0LCJqdGkiOiJQU2EyWDYwakFFSlE4Z2pBemtNclVRMlczWXRGWFhBbVlSdFIifQ.6HLGssit-BJ2o4y3aKCBMezobRjUyy3mFnVU53P8sb7z2vpl6xQ906a441Z4TE0zdQhr4dZ0bPppacm-2r2UgQ'

In [45]:
def hashkey(datas):
    """암호화"""
    PATH = "uapi/hashkey"
    URL = f"{URL_BASE}/{PATH}"
    headers = {
    'content-Type' : 'application/json',
    'appKey' : APP_KEY,
    'appSecret' : APP_SECRET,
    }
    res = requests.post(URL, headers=headers, data=json.dumps(datas))
    hashkey = res.json()["HASH"]
    return hashkey

In [51]:
import kis_auth as ka
import kis_ovrseastk as kb
import pandas as pd
import sys

#토큰 발급 kis_auth import
ka.auth(svr='vps')

분봉데이터 조회

In [70]:
# [해외주식] 기본시세 > 해외주식 해외주식분봉조회 (조회구분 div-02:분봉데이터,01:시장별장운영시간, 해외거래소시장코드, 종목코드, 분갭, 전일포함여부)
rt_data = kb.get_overseas_price_quot_inquire_time_itemchartprice(div="02", excd="NAS", itm_no="AAPL", nmin="", pinc="1")
rt_data    # 해외주식 해외주식분봉조회

,tymd,xymd,xhms,kymd,khms,open,high,low,last,evol,eamt
0,20250213,20250213,185900,20250214,085900,241.3300,241.3301,241.3300,241.3301,8,1931
1,20250213,20250213,185800,20250214,085800,241.3499,241.3499,241.3110,241.3110,50,12066
2,20250213,20250213,185700,20250214,085700,241.3500,241.3500,241.3500,241.3500,5,1207
3,20250213,20250213,185600,20250214,085600,241.4000,241.4000,241.3100,241.3215,156,37656
4,20250213,20250213,185500,20250214,085500,241.3600,241.4000,241.3600,241.3600,160,38624
...,...,...,...,...,...,...,...,...,...,...,...
115,20250213,20250213,170300,20250214,070300,241.3400,241.3400,241.3100,241.3100,73,17616
116,20250213,20250213,170200,20250214,070200,241.3800,241.3990,241.3101,241.3990,137,33062
117,20250213,20250213,170100,20250214,070100,241.3700,241.4000,241.3100,241.3200,1266,305505
118,20250213,20250213,170000,20250214,070000,241.3600,241.4000,241.3100,241.3700,180,43450
119,20250213,20250213,165900,20250214,065900,241.3102,241.3200,241.3100,241.3199,247,59606

In [71]:
# [해외주식] 주문/계좌 > 주문 (매수매도구분 buy,sell + 종목코드6자리 + 주문수량 + 주문단가)
# 지정가 기준이며 시장가 옵션(주문구분코드)을 사용하는 경우 kis_ovrseastk.py get_overseas_order 수정요망!
#rt_data = kb.get_overseas_order(ord_dv="buy", excg_cd="NASD", itm_no="TSLA", qty=1, unpr=170)
#rt_data = kb.get_overseas_order(ord_dv="buy", excg_cd="NASD", itm_no="AAPL", qty=1, unpr=216.75)
rt_data = kb.get_overseas_order(ord_dv="buy", excg_cd="NASD", itm_no="NVDA", qty=1, unpr=123.3)
print(rt_data.KRX_FWDG_ORD_ORGNO + "+" + rt_data.ODNO + "+" + rt_data.ORD_TMD) # 주문접수조직번호+주문접수번호+주문시각

40580000,모의투자 장종료 입니다.

AttributeError: 'NoneType' object has no attribute 'KRX_FWDG_ORD_ORGNO'

현금잔고, 주문가능수량

In [75]:

#- 통합증거금 미신청 계좌 : ovrs_ord_psbl_amt(해외주문가능금액), max_ord_psbl_qty(최대주문가능수량)를 이용  
#- 통합증거금 신청 계좌 : frcr_ord_psbl_amt1(외화주문가능금액1), ovrs_max_ord_psbl_qty(해외최대주문가능수량)를 이용

rt_data = kb.get_overseas_inquire_psamount(mrk="NASD", price="230.0000", item="AAPL", tr_cont="", dataframe=None)
rt_data

,tr_crcy_cd,ord_psbl_frcr_amt,sll_ruse_psbl_amt,ovrs_ord_psbl_amt,max_ord_psbl_qty,echm_af_ord_psbl_amt,echm_af_ord_psbl_qty,ord_psbl_qty,exrt,frcr_ord_psbl_amt1,ovrs_max_ord_psbl_qty
0,USD,100000.00,0.00,100000.00,430,100000.00,430,430,1450.5000000000,211125.041882,917

In [55]:
int(rt_data["max_ord_psbl_qty"].iloc[0])

430

해외주식 현재 잔고

In [76]:
# [해외주식] 주문/계좌 > 해외주식 잔고 현황
# 해외거래소코드 NASD:나스닥,NYSE:뉴욕,AMEX:아멕스,SEHK:홍콩,SHAA:중국상해,SZAA:중국심천,TKSE:일본,HASE:베트남하노이,VNSE:호치민
# 거래통화코드 - USD : 미국달러,HKD : 홍콩달러,CNY : 중국위안화,JPY : 일본엔화,VND : 베트남동
rt_data = kb.get_overseas_inquire_balance(excg_cd="NASD", crcy_cd="")
rt_data

,frcr_pchs_amt1,ovrs_rlzt_pfls_amt,ovrs_tot_pfls,rlzt_erng_rt,tot_evlu_pfls_amt,tot_pftrt,frcr_buy_amt_smtl1,ovrs_rlzt_pfls_amt2,frcr_buy_amt_smtl2
0,0.00000,0.00000,0.00000,0.00000000,0.00000000,0.00000000,0.000000,0.00000,0.000000

In [57]:
# [해외주식] 주문/계좌 > 해외주식 체결기준현재잔고
# dv : 01 보유종목, 02 외화잔고, 03 체결기준현재잔고
# dvsn : 01 원화, 02 외화
# natn 국가코드 : 000 전체,840 미국,344 홍콩,156 중국,392 일본,704 베트남
# mkt 거래시장코드 [Request body NATN_CD 000 설정]
# 00 : 전체 , (NATN_CD 840 인경우) 00:전체,01:나스닥(NASD),02:뉴욕거래소(NYSE),03:미국(PINK SHEETS),04:미국(OTCBB),05:아멕스(AMEX) (다른시장 API문서 참조)
rt_data = kb.get_overseas_inquire_present_balance(dv="02", dvsn="02", natn="000", mkt="00", inqr_dvsn="00")
rt_data

,crcy_cd,crcy_cd_name,frcr_buy_amt_smtl,frcr_sll_amt_smtl,frcr_dncl_amt_2,frst_bltn_exrt,frcr_buy_mgn_amt,frcr_etc_mgna,frcr_drwg_psbl_amt_1,frcr_evlu_amt2,acpl_cstd_crcy_yn,nxdy_frcr_drwg_psbl_amt
0,CNY,중국위안,0.000000,0.000000,0.000000,198.56000000,0.00000000,0.00000000,0.000000,0.000000,N,0.000000
1,HKD,홍콩달러,0.000000,0.000000,0.000000,186.47000000,0.00000000,0.00000000,0.000000,0.000000,N,0.000000
2,JPY,엔화,0.000000,0.000000,0.000000,9.41440000,0.00000000,0.00000000,0.000000,0.000000,N,0.000000
3,USD,미국달러,0.000000,0.000000,0.000000,1452.60000000,0.00000000,0.00000000,0.000000,0.000000,N,0.000000
4,VND,베트남동,0.000000,0.000000,0.000000,0.05680000,0.00000000,0.00000000,0.000000,0.000000,N,0.000000

In [85]:
# [해외주식] 기본시세 > 해외주식 현재체결가 (해외거래소코드, 종목번호) last로 현재가 확인
rt_data = kb.get_overseas_price_quot_price(excd="NAS", itm_no="AAPL")
float(rt_data["last"].iloc[0])  # 해외주식 현재체결가

241.53

In [59]:
import tensorflow as tf
print(tf.__version__)

2.12.0

In [61]:
#
# 한투 api Trading Bot
# and Deployment Code
# 
# (c) Dr. Yves J. Hilpisch
# Artificial Intelligence in Finance
#
import sys
import pickle
import numpy as np
import pandas as pd



class APITradingBot():
    def __init__(self, agent, granularity, stock,
                 sl_distance=None, tsl_distance=None, tp_price=None,
                 verbose=True):

        self.stock = stock
        self.agent = agent
        self.symbol = self.agent.learn_env.symbol
        self.env = agent.learn_env
        self.window = self.env.window
        if granularity is None:
            self.granularity = agent.learn_env.granularity
        else:
            self.granularity = granularity
        self.stock = stock
        self.units = 0
        self.sl_distance = sl_distance
        self.tsl_distance = tsl_distance
        self.tp_price = tp_price
        self.trades = 0
        self.position = 0
        self.tick_data = pd.DataFrame()
        self.min_length = (self.agent.learn_env.window +
                           self.agent.learn_env.lags)
        self.pl = list()
        self.verbose = verbose


    def _prepare_data(self):
        ''' Prepares the (lagged) features data.
        '''
        self.data['r'] = np.log(self.data / self.data.shift(1))
        self.data.dropna(inplace=True)
        self.data['s'] = self.data[self.symbol].rolling(self.window).mean()
        self.data['m'] = self.data['r'].rolling(self.window).mean()
        self.data['v'] = self.data['r'].rolling(self.window).std()
        self.data.dropna(inplace=True)
        self.data_ = (self.data - self.env.mu) / self.env.std


    def _resample_data(self):
        ''' Resamples the data to the trading bar length.
        '''
        self.data = self.tick_data.resample(self.granularity,
                                label='right').last().ffill().iloc[:-1]
        self.data = pd.DataFrame(self.data['mid'])
        self.data.columns = [self.symbol,]
        self.data.index = self.data.index.tz_localize(None)


    def _get_state(self):
        ''' Returns the (current) state of the financial market.
        '''
        state = self.data_[self.env.features].iloc[-self.env.lags:]
        return np.reshape(state.values, [1, self.env.lags, self.env.n_features])
    

    def report_trade(self, time, side, unit, price):
        ''' Reports trades and order details.
        '''
        self.trades += 1

        print('\n' + 71 * '=')
        print(f'{time} | *** GOING {side} ({self.trades}) ***')
        print(f'{time} | unit={unit:.2f} | price={price:.2f}')
        print(71 * '=')



    def on_success(self, time, price):
        ''' Contains the main trading logic.
        '''
        df = pd.DataFrame({'mid': price},
                          index=[pd.Timestamp(time)])
        self.tick_data = self.tick_data.append(df)
        self._resample_data()
        if len(self.data) > self.min_length:
            self.min_length += 1
            self._prepare_data()
            state = self._get_state()
            prediction = np.argmax(self.agent.model.predict(state)[0, 0])
            position = 1 if prediction == 1 else 0
            
            if self.position in [0] and position == 1:

                account = kb.get_overseas_inquire_psamount(mrk="NASD", price = f"{price}", item="AAPL", tr_cont="", dataframe=None)
                self.units = int(account["max_ord_psbl_qty"].iloc[0])


                order = kb.get_overseas_order(ord_dv="buy", excg_cd="NASD", itm_no="AAPL", qty=self.units, unpr=price)
                


                self.report_trade(time, 'buy', self.units, price)
                self.position = 1


            elif self.position in [1] and position == 0:
                order = kb.get_overseas_order(ord_dv="sell", excg_cd="NASD", itm_no="AAPL", qty=self.units, unpr=price)
                
                
                self.units = 0

                self.report_trade(time, 'sell', self.units, price)
                self.position = 0

In [62]:
import pickle

In [63]:
# ✅ Pickle로 객체 복원
with open("bot.pkl", "rb") as f:
    agent = pickle.load(f)

# ✅ TensorFlow 모델 로드
agent.model = tf.keras.models.load_model("model.h5")

In [86]:
Atb = APITradingBot( agent, '"5min"', "AAPL", verbose=False)

In [87]:
# 자동매매 시작
try:
    ACCESS_TOKEN = get_access_token()

    soldout = False

    send_message("===해외 주식 자동매매 프로그램을 시작합니다===")
    while True:
        t_now = datetime.datetime.now(timezone('America/New_York')) # 뉴욕 기준 현재 시간
        t_9 = t_now.replace(hour=9, minute=30, second=0, microsecond=0)
        t_start = t_now.replace(hour=9, minute=35, second=0, microsecond=0)
        t_sell = t_now.replace(hour=15, minute=45, second=0, microsecond=0)
        t_exit = t_now.replace(hour=15, minute=50, second=0,microsecond=0)
        today = t_now.weekday()
        if today == 5 or today == 6:  # 토요일이나 일요일이면 자동 종료
            send_message("주말이므로 프로그램을 종료합니다.")
            break


        if t_9 < t_now < t_start and soldout == False: # 잔여 수량 매도

            price = kb.get_overseas_price_quot_price(excd="NAS", itm_no=Atb.stock)
            price = float(price["last"].iloc[0])  # 해외주식 현재체결가

            kb.get_overseas_order(ord_dv="sell", excg_cd="NASD", itm_no=Atb.stock, qty=Atb.units, unpr=price)

            Atb.units = 0

            soldout = True


        if t_start < t_now < t_sell :  # AM 09:35 ~ PM 03:45 : 매수
            price = kb.get_overseas_price_quot_price(excd="NAS", itm_no="AAPL")
            price = float(price["last"].iloc[0])  # 해외주식 현재체결가
            Atb.on_success(t_now, price)
         


        if t_sell < t_now < t_exit:  # PM 03:45 ~ PM 03:50 : 일괄 매도
            if soldout == False:
                price = kb.get_overseas_price_quot_price(excd="NAS", itm_no="AAPL")
                price = float(price["last"].iloc[0])  # 해외주식 현재체결가

                kb.get_overseas_order(ord_dv="sell", excg_cd="NASD", itm_no=Atb.stock, qty=Atb.units, unpr=price)
                
                Atb.units = 0

                soldout = True


        if t_exit < t_now:  # PM 03:50 ~ :프로그램 종료
            send_message("프로그램을 종료합니다.")
            
            
            break



        time.sleep(60)


except Exception as e:
    send_message(f"[오류 발생]{e}")
    time.sleep(1)

{'content': '[2025-02-14 14:01:20] ===해외 주식 자동매매 프로그램을 시작합니다==='}

KeyboardInterrupt:

In [ ]:
balnce = kb.kbget_overseas_inquire_psamount(mrk="NASD", price="230.0000", item="AAPL", tr_cont="", dataframe=None)